// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800");

// PE-310: Fix node preview controls being obscured by header
.node-preview-container {
  position: static;
  padding: ($spacer * 0.5) $spacer;
}

// PE-368: Fix Bootstrap vs Drupal core placeholder class conflict
em.placeholder {
  background-color: unset;
  cursor: unset;
  display: unset;
  min-height: unset;
  opacity: unset;
  vertical-align: unset;
}

// Make active nav items bold
.nav-item .active {
  font-weight: bold;
}

// Expand featured images to full width
.field--name-field-featured-image img {
  width: 100%;
}

// Fix dialog title overflow issue
.ui-dialog .ui-dialog-title {
	font-size: 1.2rem;
	white-space: normal;
	text-overflow: initial;
}

// Fix dialog close button appearance
.ui-dialog .ui-dialog-titlebar-close {
	background: url("data:image/svg+xml,%3csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 1.318l-10 10M11 11.318l-10-10' stroke='%23333' stroke-width='1.5'/%3e%3c/svg%3e") no-repeat 50%;
	border: none;

  &:hover {
    border: 2px solid #666;
    border-radius: 1em;
    padding: 10px;
    translate: 2px -2px;
  }
}
