// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800");

// PE-310: Fix node preview controls being obscured by header
.node-preview-container {
  position: static;
  padding: ($spacer * 0.5) $spacer;
}

// PE-368: Fix Bootstrap vs Drupal core placeholder class conflict
em.placeholder {
  background-color: unset;
  cursor: unset;
  display: unset;
  min-height: unset;
  opacity: unset;
  vertical-align: unset;
}

// Make active nav items bold
.nav-item .active {
  font-weight: bold;
}
