// Page: Content
// -----------------------------------------------------------------------------
.page__content {
}

article {
  // Lists
  ol,
  ul,
  dl {
    padding: 0;
    margin-left: 3em;
  }
  ol {
    list-style: decimal;
  }
  ol ol,
  ol ol ol ol ol {
    list-style: lower-alpha;
    // margin-left: .8em;
  }
  ol ol ol,
  ol ol ol ol ol ol {
    list-style: lower-roman;
    // margin-left: .8em;
  }
  ol ol ol ol {
    list-style: decimal;
  }
  li {
    // padding-left: .5em;
  }
  li * li {
    // margin-left: .8em;
  }
}

.homepage-grid .views-row .views-col:first-child {
  padding-left: 0;
}

// westy_two_column_page_hero
.layout--westy-two-column-page-hero {
  .block,
  img {
    width: 100%;
  }

  // Full width color band
  &::before {
    background: var(--bs-secondary);
    content: " ";
    height: 100%;
    position: absolute;
    width: calc(100vw - var(--bs-gutter-x) * 0.67);
    z-index: -1;
  }
}
