<div class="card mb-4">
  <div class="card-header">
    {{ header }}
  </div>

  <div class="card-body">
    {% if rows %}
      {{ rows }}
    {% elseif empty %}
      {{ empty }}
    {% endif %}

    {% if more %}
      {{ more }}
    {% endif %}
  </div>
</div>
