// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {

}

// Text
// -----------------------------------------------------------------------------
p {

}

// Links
// -----------------------------------------------------------------------------
a {

}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    text-decoration: none;
  }
}

// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {
}

// To make policy lists correctly display diff comparisons and
// to ensure that screen readers correctly read the list items
// this style removes numbering from an ordered list so that it can
// be manually added into the <li> element as text.
ol.manually-numbered-list {
  list-style: none !important;
  padding-inline-start: 1em;
  li {
    display: list-item;
    margin-bottom: $spacer;
  }
  ol {
    list-style: none !important;
  }
}

ul.checkbox-list {
  list-style: none !important;
  ul {
    list-style: none !important;
  }
  li::before {
    border: 0.1rem solid $body-color;
    content: "";
    display: inline-flex;
    height: 1rem;
    margin-left: -1.5rem;
    margin-right: 0.5rem;
    width: 1rem;
  }
}

// Image
// -----------------------------------------------------------------------------
img {

}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {
  position: relative;
  margin: 1.75rem auto;
  max-width: 80%;
  font-size: 1.2rem;
  font-style: italic;
  padding: 1rem 0 1rem 1.5rem;
  border-left: 1px dotted #000;
}
@media only screen and (min-width: 640px) {
  blockquote {
    max-width: 60%;
    margin: 4vh 9vw;
  }
}
@media only screen and (min-width: 768px) {
  blockquote {
    max-width: 67%;
    margin: 3.5vh 7.5vw;
  }
}
@media only screen and (min-width: 1024px) {
  blockquote {
    max-width: 73%;
    margin: 3vh 6vw;
  }
}

strong {

}

small {

}
