/* put a little padding in styled CKEditor body */
.cke_editable {
  margin: 10px;

  .embed-document {
    margin: 0;
  }
}

// External links
span.extlink {
  margin: 0px 0.5rem;

  // Make FA icon inline so it wraps correctly when word breaks
  .fa {
    display: inline;
  }
}

/* Hide the extra spans when printing. */
@media print {
  svg.extlink,
  svg.mailto {
    display: none;
    padding: 0;
  }
}
