/* put a little padding in styled CKEditor body */
.cke_editable {
  margin: 10px;

  .embed-document {
    margin: 0;
  }
}

// External links
svg.ext {
  margin: 0px .5rem;
  width: 1.25rem !important;
  height: 1.25rem !important;
  padding: 0px !important;
  display: inline-block;
}

svg.mailto::before {
  background: none;
}

/* Hide the extra spans when printing. */
@media print {
  svg.ext,
  svg.mailto {
    display: none;
    padding: 0;
  }
}
