<div class="container nav-container">
  <div class="row align-items-end">
    <!-- Left/Bottom Nav -->
    <div id="nav-container-left" class="col-12 col-lg-3 text-center text-lg-start py-4 my-auto order-2 order-lg-1">
      {% block left %}
        {{ page.navbar_left }}
      {% endblock %}
    </div>
    <!-- Right/Top Nav -->
    <div id="nav-container-right" class="col-12 col-lg-9 text-lg-end order-1 order-lg-2">
      <div class="row align-items-center">
        <div class="nav-col col-4 d-inline d-lg-none text-start py-3" id="nav-btn">
          <button class="navbar-toggler collapsed" type="button" aria-expanded="false"
            aria-label="Toggle navigation">
            <div class="menu-bar" data-uw-styling-context="true">
              <div class="bar1" data-uw-styling-context="true"></div>
              <div class="bar2" data-uw-styling-context="true"></div>
              <div class="bar3" data-uw-styling-context="true"></div>
            </div>
          </button>
        </div>
        {% block right %}
          {% if page.navbar_right %}
            {{ page.navbar_right }}
            <form accept-charset="UTF-8" action="/search" class="form-inline" id="search-block-form" method="get">
              <div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label form-group">
                <input class="form-search form-control" data-drupal-selector="edit-keys" id="edit-keys" maxlength="128" name="search" placeholder="Search" size="20" title="Enter the terms you wish to search for." type="search" value="" />
              </div>
              <div class="form-actions js-form-wrapper form-wrapper" data-drupal-selector="edit-actions" id="edit-actions">
                <input class="button js-form-submit form-submit btn btn-primary" data-drupal-selector="edit-submit" id="edit-submit" type="submit" value="Search" />
              </div>
            </form>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
