<div class="mb-4 h-100 position-relative">
    <h3 class="mb-1"><a href="{{ url }}" class="stretched-link">{{ label }}</a></h3>
    {{ content|without('field_short_title','field_featured_image','field_resource_link') }}
</div>
