{% set title = label %}

{% if content.field_resource_link %}
  {% set link = content.field_resource_link.0 %}
{% else %}
  {% set link = url %}
{% endif %}

<div class="mb-4 related position-relative">
  <h3 class="fw-normal mb-1"><a href="{{ link }}" class="stretched-link">{{ title }}</a></h3>
  {{ content|without('field_short_title','field_resource_link') }}
</div>
