/**
 * @file
 * Make Bootstrap forms more compatible with Drupal out of the box
 */


// Facets
// Facets
.facets-widget {
  &-checkbox {
    padding: spacer(3);
    background: $light;

    ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
    }
  }
}

.facet-item {
  @extend .form-check;
  padding-left: 0;

  &:not(:last-of-type) {
    margin-bottom: spacer(2);
  }

  &__count {
    margin-left: spacer(1);
  }

  .facets-checkbox {
    float: left;
    margin-right: spacer(2);
    margin-top: 0.35rem;
  }

  label {
    display: table;
    font-weight: normal;
    margin: 0;
  }

  ul {
    margin-top: spacer(2);
  }
}

.facet-empty {
  display: none;
}

.facets-reset .facet-item__count {
  display: none;
}

.field-group-accordion-wrapper {
  margin: 0 0 $spacer * 2;
}

.region-tools .form-text,
.region-tools .form-select {
  max-width: 255px;
}

.form-item,
.form-actions {
  margin-top: $spacer;
  margin-bottom: $spacer;
}

table.vbo-table {
  .form-item,
  .form-actions {
    margin-top: inherit;
    margin-bottom: inherit;
  }
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red;
}

// /* Inline error messages. */
// .form-item--error-message:before {
//   display: inline-block;
//   width: 14px;
//   height: 14px;
//   content: "";
//   vertical-align: sub;
//   background: url(/core/misc/icons/e32700/error.svg) no-repeat;
//   background-size: contain;
// }

.form-required:after {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
  content: "";
  vertical-align: super;
  /* Use a background image to prevent screen readers from announcing the text. */
  background-image: url(/core/misc/icons/ee0000/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
}

.form-item--error-message {
    display: inherit;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.user-login-form #edit-name,
.user-login-form #edit-pass,
.user-pass #edit-name {
  width: inherit;
}
