/**
 * @file
 * Make Bootstrap forms more compatible with Drupal out of the box
 */


 // Facets
.facets-widget {
  &-checkbox {
    padding: $spacer;
    background: $gray-300;
    ul {
      list-style: none;
      margin-bottom: 0;
      padding: 0;
    }
  }
}

.facet-item {
  @extend .form-check;
  margin-bottom: calc($spacer / 2);
  ul {
    margin-top: calc($spacer / 2);
  }
}

.facet-item label {
  display: inline-block;
  margin: 0;
  font-weight: normal;
}

.facet-item input.facets-checkbox {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -$spacer * 1.25;
}

.facet-empty {
  display: none;
}

.field-group-accordion-wrapper {
  margin: 0 0 $spacer * 2;
}

.region-tools .form-text,
.region-tools .form-select {
  max-width: 255px;
}

.form-item,
.form-actions {
  margin-top: $spacer;
  margin-bottom: $spacer;
}

table.vbo-table {
  .form-item,
  .form-actions {
    margin-top: inherit;
    margin-bottom: inherit;
  }
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red;
}

// /* Inline error messages. */
// .form-item--error-message:before {
//   display: inline-block;
//   width: 14px;
//   height: 14px;
//   content: "";
//   vertical-align: sub;
//   background: url(/core/misc/icons/e32700/error.svg) no-repeat;
//   background-size: contain;
// }

.form-required:after {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
  content: "";
  vertical-align: super;
  /* Use a background image to prevent screen readers from announcing the text. */
  background-image: url(/core/misc/icons/ee0000/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
}

.form-item--error-message {
    display: inherit;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.user-login-form #edit-name,
.user-login-form #edit-pass {
  width: inherit;
}