// Custom style for the nav components.
// -----------------------------------------------------------------------------
ul.nav-vertical ul.nav-vertical {
  margin-left: $spacer;
}

a.is-active {
  font-weight: bold;
  color: $gray-900;
}
