// Article: Accordions
// -----------------------------------------------------------------------------

.accordion .accordion-item {
  margin-bottom: 0 !important;
}

button.accordion-button {
  border-top: 1px solid #dfdfdf;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.accordion-item {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.accordion button.accordion-button {
  border-top: initial;
  border-top-left-radius: initial;
  border-top-right-radius: initial;
}

.accordion .accordion-item {
  border-top-left-radius: initial;
  border-top-right-radius: initial;
}

.accordion .accordion-item:first-of-type {
  border-top-left-radius: calc(0.25rem - 1px) !important;
  border-top-right-radius: calc(0.25rem - 1px) !important;
}

.accordion .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(0.25rem - 1px) !important;
  border-top-right-radius: calc(0.25rem - 1px) !important;
}


// Add links to Expand or Collapse all
.aria-accordion a.toggle-accordion::before {
  content: "Expand all";
}

.aria-accordion a.toggle-accordion.active::before {
  content: "Collapse all";
}

// Override border style
.aria-accordion {
  border-style: none !important;
  margin-bottom: 1rem;
}

.aria-accordion .aria-accordion__heading:first-of-type {
  border: 1px solid #EEEEEE;
}

.aria-accordion .aria-accordion__heading,
.aria-accordion div.aria-accordion__panel {
  border: 1px #EEEEEE;
  border-style: none solid solid;
  color: $body-color;
}

.aria-accordion div.aria-accordion__panel {
  padding: 0.5rem 1rem;
}

.aria-accordion .aria-accordion__heading {
  button {
    background: $body-bg !important;
    border: 0 !important;
    color: $body-color;
  }

  // Override the default colors
  button[aria-expanded="true"],
  button:hover {
    background: #EEEEEE !important;
  }

  button:focus {
    outline: 2px solid #212121;
    z-index: 2;
  }

  button::before,
  button::after {
    background: $body-color;
  }
}

// unset max-height to prevent overflow
.aria-accordion .aria-accordion__panel--transition {
  max-height: unset !important;
}

@media print {
  // Hide Expand or Collapse all links
  div.aria-accordion p.toggle-accordion-text {
    display: none !important;
  }

  // Hide pseudo styles when printing
  .aria-accordion .aria-accordion__heading {
    button {
      padding-left: 5px !important;
    }

    button::before,
    button::after {
      display: none;
    }
  }
}
