// Header Alerts
header.page__header {
  .alert-item {
    .btn-close {
      background: transparent url('/themes/custom/westy/assets/images/close-o.svg') 50%/1.5em auto no-repeat;
    }
    .alert-icon{
      z-index: 2;
      margin-right: 2rem;
      font-size: 2rem;
    }
    .alert {
      padding: 1rem 0;
      margin-bottom: 0;
      p:last-child{
        margin: 0;
      }
    }
  }
}

.global-alert-content {
  p:last-child {
    margin-bottom: 0;
}
  a {
    color: $light;
    text-decoration: underline;
  }
  .img {
    width: 16px;
  }
}

