// Default Drupal alert bar
.alert.alert-success.alert-dismissible {
  background-color: $secondary;
}

// Header Alerts
header.page__header {

  .alert-item {
    background-color: $secondary;
    .btn-close {
      background: transparent url('/themes/custom/westy/assets/images/close-o.svg') 50%/1.5em auto no-repeat;
    }
    .alert-icon{
      z-index: 2;
      margin-right: 2rem;
      font-size: 2rem;
    }
    .alert {
      padding: 1rem 0;
      margin-bottom: 0;
      p:last-child{
        margin: 0;
      }
    }
  }
}
