.bg-info,
.bg-warning {
  a:link,
  a:visited {
    color: rgba(225, 229, 234, var(--bs-bg-opacity));
    color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) ;
  }
  a:hover {
    color: var(--bs-white);
  }
}
