.embed-image.align-left {
  margin-right: $spacer;
}

.embed-image.align-right, .embed-video.align-right {
  margin-left: $spacer;
  margin-right: 0;
}

.embed-image.align-center, .embed-video.align-center {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

.embed-document {
  margin-bottom: $spacer;
}

.embed-document .caption {
  font-size: 90%;
}

// .embedded-full, .embedded-medium, .embedded-narrow {
//   margin-bottom: $spacer;
// }

figure.align-left, figure.align-center, figure.align-right {
  margin-bottom: 0;
}

/* Force video player to be full or medium width */

.field .embed-video.embedded-full, .field .embed-video.embedded-medium,
figure .embed-video.embedded-full, figure .embed-video.embedded-medium {
  position: relative;
}

// .align-left.embed-video.embedded-medium, .align-right.embed-video.embedded-medium, .align-center.embed-video.embedded-medium {
//   margin-bottom: 0;
// }

.field .embed-video.embedded-full, figure .embed-video.embedded-full, figure.embedded-medium .embedded-medium {
  width: 100%;
  padding-top: 56.25%;
}

.embed-video.embedded-medium, figure.embedded-medium {
  width: 50%;
}

.embed-video.embedded-medium {
  padding-top: 28.125%;
}

figure.align-center.embedded-medium {
  width: 50%;
  display: block;
}

/* .field .align-left.embed-video.embedded-medium, figure .field .align-left.embed-video.embedded-medium {*/

div.align-left.embedded-medium, figure.align-left.embedded-medium {
  margin-right: $spacer;
}

div.align-right.embedded-medium, figure.align-right.embedded-medium {
  margin-left: $spacer;
}

.field .embed-video.embedded-full .field, .field .embed-video.embedded-medium .field {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.field .embed-video.embedded-full .field__item, .embed-video.embedded-full iframe,
.field .embed-video.embedded-medium .field__item, .embed-video.embedded-medium iframe {
  height: 100%;
  width: 100%;
}

figure.caption {
  display: inline;
}

figure.caption .embed-video {
  margin-bottom: 0 !important;
}

figure.caption figcaption {
  display: inline-block;
  margin-bottom: $spacer;
}

drupal-media[data-view-mode="medium"] {
  width: 50%;
}

/* scenarios

x Full, None
- Full, None, Caption
x Full, Left
- Full, Left, Caption
x Full, Center
- Full, Center, Caption
x Full, Right
- Full, Right, Caption
- Medium, None
- Medium, None, Caption
- Medium, Left
- Medium, Left, Caption
- Medium, Center
- Medium, Center, Caption
- Medium, Right
- Medium, Right, Caption

*/
/* end video player */

@media (max-width: 767px) {
  .embed-image.align-right, .embed-video.align-right {
    margin-left: 0;
  }
  .embed-image.align-center, .embed-video.align-center {
    margin-left: 0; 
    margin-right: 0;
  }
  .embedded-medium, .embedded-narrow {
    margin-right: 0;
    float: none;
    width: 100% !important;
    padding-top: 56.5% !important;
    display: block;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  figure.align-center.embedded-medium {
    display: inline;
  }
}
