.embed-image.align-left, .caption.align-left {
  margin-right: $spacer;
}

.embed-image.align-right, .caption.align-right, .embed-video.align-right {
  margin-left: $spacer;
  margin-right: 0;
}

.embed-image.align-center, .embed-video.align-center {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

.embed-document {
  margin-bottom: $spacer;
}

.embed-document .caption {
  font-size: 90%;
}

@media (max-width: 767px) {
  .embed-image.align-right, .embed-video.align-right {
    margin-left: 0;
  }
}

/* At sizes below 560, center the Narrow image, don't make it 100% width because there's a good chance
   it's a logo or other image that shouldn't be enlarged or may not have the pixels to enlarge cleanly. */
@media (max-width: 559px) {
  .embed-image.embedded-narrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    float: none;
  }
  .embed-image.embedded-narrow img {
    width: 208px;
  }
  .caption.caption-drupal-media {
    width: 100%;
    float: none;
  }
}
