// Helpers for embedded media
// -----------------------------------------------------------------------------

figure.caption,
figure.figure {
  display: block;
}

figure.caption figcaption {
  display: inline-block;
}

figure figcaption {
  clear: both;
}

// Center at md breakpoint and up
// (This doesn't really do anything at sm breakpoint and down)
.align-center,
figure.figure.align-left > div,
figure.figure.align-center > div,
figure.figure.align-right > div,
figure.drupal-media.drupal-media-style-align-left > div > div[class*=embed],
figure.drupal-media.drupal-media-style-align-center > div > div[class*=embed],
figure.drupal-media.drupal-media-style-align-right > div > div[class*=embed] {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  margin-right: auto;
  margin-left: auto;
}

figure.drupal-media.drupal-media-style-align-left > div > div[class~=embed-remote-video],
figure.drupal-media.drupal-media-style-align-center > div > div[class~=embed-remote-video],
figure.drupal-media.drupal-media-style-align-right > div > div[class~=embed-remote-video] {
  width: inherit;
}

// At the sm breakpoint and up alignment will max width to 325px
@include media-breakpoint-up(sm) {
  figure.align-left,
  .align-left {
    margin-right: $spacer !important;
    margin-left: 0;
    max-width: 325px;
    float: left;
  }

  figure.align-right,
  .align-right {
    margin-left: $spacer !important;
    margin-right: 0;
    max-width: 325px;
    float: right;
  }
}

// At the md breakpoint and up alignment will max width to 400px
@include media-breakpoint-up(md) {
  figure.align-left,
  .align-left {
    margin-right: $spacer !important;
    margin-left: 0;
    max-width: 400px;
    float: left;
  }

  figure.align-right,
  .align-right {
    margin-left: $spacer !important;
    margin-right: 0;
    max-width: 400px;
    float: right;
  }
}

// At the xl breakpoint and up alignment will max width to 483
@include media-breakpoint-up(xl) {
  figure.align-left,
  .align-left {
    margin-right: $spacer !important;
    margin-left: 0;
    max-width: 483px;
    float: left;
  }

  figure.align-right,
  .align-right {
    margin-left: $spacer !important;
    margin-right: 0;
    max-width: 483px;
    float: right;
  }
}

// At the sm breakpoint and down there is no alignment
@include media-breakpoint-down(sm) {
  figure.align-left,
  .align-left {
    margin-right: 0;
    max-width: 100%;
    float: none;
  }
  figure.align-right,
  .align-right {
    margin-left: 0;
    max-width: 100%;
    float: none;
  }
}

.media--type-iframe.media--view-mode-full,
.media--type-iframe.media--view-mode-embedded {
  aspect-ratio: 16/9;
}
.media--view-mode-embedded-16x9 {
  aspect-ratio: 16/9;
}
.media--view-mode-embedded-4x3 {
  aspect-ratio: 4/3;
}
.media--view-mode-embedded-1x1 {
  aspect-ratio: 1/1;
}
.media--view-mode-embedded-9x16 {
  aspect-ratio: 9/16;
}

// Embedded Images
// -----------------------------------------------------------------------------

// Constrain narrow and medium at sm and up
@include media-breakpoint-up(sm) {
  .embedded-narrow,
  .embedded-narrow + figcaption,
  .drupal-media[data-view-mode=narrow] figcaption {
    max-width: 325px;
  }

  .embedded-medium,
  .embedded-medium + figcaption,
  .drupal-media[data-view-mode=medium] figcaption {
    max-width: 400px;
  }
}

// Constrain medium at xl and up
@include media-breakpoint-up(xl) {
  .embedded-medium,
  .embedded-medium + figcaption,
  .drupal-media[data-view-mode=medium] figcaption {
      max-width: 417px;
  }
}

// When narrow is used at sm and down, center the image
@include media-breakpoint-down(sm) {
  .embedded-narrow {
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
  }

  .embedded-narrow,
  .embedded-medium {
    margin-left: auto;
    margin-right: auto;
  }
}

// Add margin bottom for embedded media not in a figure
.embedded-narrow,
.embedded-medium,
.embedded-full {
  margin-bottom: $spacer;
}

figure {
  .embedded-narrow,
  .embedded-medium,
  .embedded-full {
    margin-bottom: 0;
  }
}

// Embedded videos
// -----------------------------------------------------------------------------

figure.caption .embed-remote-video {
  margin-bottom: 0 !important;
}

figure.align-left,
figure.align-center,
figure.align-right,
figure.drupal-media.drupal-media-style-align-left,
figure.drupal-media.drupal-media-style-align-center,
figure.drupal-media.drupal-media-style-align-right {
  .embed-remote-video.embedded-full .field {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

// At medium breakpoint and down, center the video
@include media-breakpoint-down(md) {
  figure.align-left,
  figure.align-center,
  figure.align-right,
  figure.drupal-media.drupal-media-style-align-left,
  figure.drupal-media.drupal-media-style-align-center,
  figure.drupal-media.drupal-media-style-align-right {
    .embed-remote-video.embedded-full .field {
      width: 100%;
    }
  }
}


.field .embed-remote-video.embedded-full .field__item,
.embed-remote-video.embedded-full iframe {
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
}

.field .embed-remote-video.embedded-full,
.field .embed-remote-video.embedded-medium,
figure .embed-remote-video.embedded-full,
figure .embed-remote-video.embedded-medium {
  position: relative;
}

.field .embed-remote-video.embedded-full,
figure .embed-remote-video.embedded-full {
  width: 100%;
}

// Embedded Documents
// -----------------------------------------------------------------------------

.embed-document {
  margin-bottom: $spacer;
}

li .embed-document {
  margin-bottom: 0;
}

.embed-document .caption {
  font-size: 90%;
}
