.field__item {
  margin-bottom: $spacer;
}

.field--label-inline .field__label {
  font-weight: $font-weight-bold;
  margin-right: $spacer * .25;
}

.field .field--label-hidden {
  margin-bottom: $spacer * 1.5;
}

.field--label-above {
  margin-bottom: $spacer * 3;
}
